<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Corona Bd API</title>
  </head>
  <body>
    <div class="container mt-5">
      <h3>Corona Updates for BD API</h3>
      <p>
        This is a free API for Corona Updates in Bangladesh. Scraping data from
        <a href="https://corona.gov.bd" target="_blank">Corona.gov.bd</a>. Using
        free <a href="https://heroku.com" target="_blank">Heroku</a> Account So
        This API will take a nap after 30 minutes of inactiveness. So that if
        the server is sleeping it might need some extra time for the first
        request to active the server then handel your request.
        <br />
        Get the Source code
        <a
          href="https://github.com/asifo1/corona_bd_api" target="_blank"
          class="badge badge-warning"
          >Here</a
        >
        <br>
        Developed By <a href="http://asifo1.github.io" target="_blank" >Asif Shahriar</a>
       <div class="m-4 d-flex justify-content-center">
        <a
        href="https://coronabdapi.herokuapp.com/api/"
        class="btn btn-outline-success m-2"
        target="_blank"
        >Browsable API</a
      >

      <a
        href="https://coronabdapi.herokuapp.com/api/?format=json"
        class="btn btn-outline-danger m-2"
        target="_blank"
        >JSON Data</a
      >
       </div>
     
      </p>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
</html>
